.container {
   @include container();
   position: relative;
   margin: 0 auto;
   width: $container-width;

   &--flex {
      @include flex-container();
      width: $container-width;
   }
}


.job-header {
   h1 {
      @include font-size(28px);
   }
}

.job-creator {
   @include span(6 of 12);
}

.job-preview {
   @include span(last 6 of 12);
}
