.navigation-main {
   @include span(7 of 12 last);

   &__item {
      display: inline-block;
      padding-right: 40px;

      @include last() {
         padding-right: 0;
      }
   }
}

.search {
   position: relative;

   &__box {
      @extend .input__text;
      padding: 0 35px 0 5px;
      width: 260px;
   }

   &__icon {
      background: none;
      border: 0;
      color: rgba(get-color(blue-bayoux), 0.1);
      margin-left: -40px;
      padding: 10px 9px;
   }
}
